/* 1



/* 
  @media არის CSS-ის სპეციალური პირობა,
  რომელიც ბრაუზერს ეუბნება:
  "თუ ეკრანი ასეთია, გამოიყენე ეს სტილები".
  
  მარტივად: @media საშუალებას გვაძლევს
  შევცვალოთ დიზაინი სხვადასხვა ეკრანის ზომაზე,
  მაგალითად ტელეფონზე, ტაბლეტზე და კომპიუტერზე.
*/

/* 2

/* 
  @media გამოიყენება Responsive დიზაინისთვის,
  ანუ რომ საიტი კარგად გამოჩნდეს ყველა მოწყობილობაზე.

  მაგალითად:
  - პატარა ეკრანზე ტექსტი გახდეს უფრო პატარა
  - მენიუ გადაიქცეს ბურგერ მენუდ
  - ბლოკები დაუწყლარონ ერთ ხაზზე ან ჩამოქცნენ ქვევით
  - სურათები შემცირდეს ავტომატურად

  მოკლედ: @media არეგულირებს სტილებს ეკრანის ზომის მიხედვით.
*/

